.layout-hero {
  padding-top: 5%;
  //   background-color: red;
}

.intro-sub {
  margin-top: 5%;
  font-family: "Avenir Next Regular";
  src: url(../font/AvenirNextLTPro-Regular.otf);
}

.lottie-animation {
  //   padding-top: %;
  width: 50%;
  //   padding: auto;
}

.intro-name {
  font-family: "Avenir Next Demi";
  src: url(../font/AvenirNextLTPro-Bold.otf);
  font-size: 7em;
}

.intro-info {
  font-family: "Avenir Next Regular";
  src: url(../font/AvenirNextLTPro-Regular.otf);
  font-size: 3em;
  //   margin-top: 5%;
}
