/*fonts*/
@font-face {
  font-family: "Avenir Next Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "Avenir Next Demi";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: "Avenir Next Light";
  font-style: normal;
  font-weight: normal;
  src: url(../font/RS63_AVENIRLTSTD-LIGHT.OTF);
}

@font-face {
  font-family: "Avenir Next italics";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-It.otf);
}

/*partials*/
@import "./custom";
@import "./NavBar";
@import "./HomePage";

/*third parties*/

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/reboot";
