@font-face {
  font-family: "Avenir Next Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Graphik-Regular.ttf);
}

@font-face {
  font-family: "Graphik SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Graphik-Semibold.ttf);
}

@font-face {
  font-family: "Graphik Light";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Graphik-Light.ttf);
}

@font-face {
  font-family: "Graphik ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Graphik-Extralight.ttf);
}

@font-face {
  font-family: "Avenir Next Demi";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: "Avenir Next Light";
  font-style: normal;
  font-weight: normal;
  src: url(../font/RS63_AVENIRLTSTD-LIGHT.OTF);
}

@font-face {
  font-family: "Avenir Next italics";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextLTPro-It.otf);
}

@font-face {
  font-family: "BerlingskeSerif Bold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/BerlingskeSerif-Bold.ttf);
}

@font-face {
  font-family: "BerlingskeSerif SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/BerlingskeSerif-SemiBold.ttf);
}

$spacer: 1rem;

$spacers: (
  6: (
    $spacer * 4,
  ),
  7: (
    $spacer * 6,
  ),
  8: (
    $spacer * 8,
  ),
  9: (
    $spacer * 16,
  ),
);
